#Contact{
    transform: skewY(-7.5deg);
    transform-origin: bottom left;
}

#Contact .container{
    padding-top: 5rem;
    transform: skewY(7.5deg);
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#Contact .container h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .5em;
}

#Contact .container p{
    margin: .5em 0;
    text-align: center;
}

#Contact .container .message_link{
    display: flex;
    flex-wrap: nowrap;
    justify-content:left;
    background-color: white;
    margin: 5rem auto;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 14rem;
}

#Contact .container .message_link img{
    height: 2rem;
}

#Contact .container .content .message_link a{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    width: 12rem;
    height: 2rem;
    line-height: 2rem;
}

#Contact .container .content .send_to span{
    font-weight: bold;
    text-decoration: underline;
}

#Contact .container .thanks_message{
    margin-top: 7.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}