#Work{
    transform: skewY(-7.5deg);
    transform-origin: bottom left;
}

#Work .container{
    padding-top: 5rem;
    transform: skewY(7.5deg);
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#Work .container h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .5em;
}

#Work .container p{
    margin: .5em 0;
    text-align: center;
}

#Work .container .content .gallery{
    width: 90vw;
    min-width: 280px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Work .container .content .card{
    margin: 1rem;
    width: 240px;
    text-align: center;
}

#Work .container .content .card:hover{
    cursor: pointer;
}

#Work .container .content .card img{
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.2);
    width: 240px;
    transition: .5s;
}

#Work .container .content .card img:hover{
    box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.2);
}

#Work .container .content .card p{
    font-weight: bold;
}

/* 親要素にtransformを使う必要があり、#Workの子要素にできない */
.card_zoom_container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: scroll;
    z-index: 100;
}

.card_zoom_container .close_btn{
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
}

.card_zoom_container .close_btn:hover{
    cursor: pointer;
}

.card_zoom_container .content{
    width: 80%;
    margin: 5rem auto;
    position: relative;
    display: none;
}

.card_zoom_container .content.open{
    display: block;
}

.card_zoom_container h3{
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}

.card_zoom_container .content .discription{
    margin-top: 0;
}

.card_zoom_container .content ul{
    margin: 0;
    padding: 0;
	list-style: none;
}

.card_zoom_container .content ul li .list_item{
    margin: .25rem 0;
    padding: .25rem .5rem;
    line-height: 1rem;
    display: inline-block;
    border-radius: 1.25rem;
    background-color: rgb(196, 196, 196);
}

.card_zoom_container .content img{
    width: 100%;
    margin-top: 2rem;
}